#app{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}

.rootController, .loginController, .mainController{
  width: 100%;
  height: 100%;
  display: flex;
}
.loginController{
  justify-content: center;
  align-items: center;
  background-color: #008F69;
}

element.style {
}
.loginViewWrapper {
    width: 354px;
    height: 415px;
    position: relative;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    margin-top: -10px;
}
.loginViewWrapper img{
  height: 41px;
  margin-bottom: 20px;
}


.carteVitaleController  {
  width: 100%;
  max-width: 950px;
  margin: 37px;
}
.carteVitaleController h2{
  color: #162643;
  font-size: 25.25px;
  margin-bottom: 21px !important;
  margin-top: 10px;
}
.carteVitaleController table {
  border: 1px solid rgb(221, 223, 226);
  border-radius: 1px;
  width: 100%;
  margin-bottom: 35px;
}
.carteVitaleTableRowButtons{
  position: absolute;
  right: 1px;
  display: flex;
  top: 0px;
  height: 100%;
  align-items: center;
  margin-right: 8px;
}
.carteVitaleTableRowButtons .pt-button , .settingsControllerWindowTitleButtons .pt-button {
  outline: none !important;
}
.carteVitaleTableRow{
  height: 60px;
  padding: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(221, 223, 226);
  position: relative;
}
.carteVitaleTableRow .pt-tag{
  padding: 0px 5px;
  margin-left: 3px;
  font-size: 11px;
}
.carteVitaleTableRow.empty{
  justify-content: center;
  color:rgb(128, 128, 128);
  font-size:13px;
}
.carteVitaleTableRow.last{
  border-bottom: 0px solid rgb(221, 223, 226);
}
.carteVitaleTableRow .title, .popOverFocusContent .title, .popOverRegisterContent .title{
    color:rgb(29, 33, 41);
    font-size:14px;
    font-weight:700;
}
.carteVitaleTableRow .details, .popOverFocusContent .details, .popOverRegisterContent .details {
    color:rgb(128, 128, 128);
    font-size:12px;
}
